<!-- /.content-wrapper -->
<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>{{ 'admin.footer.version'|trans }}</b> {{ version }}

    <a href="https://github.com/thomaskanzig/blog"
       target="_blank"
       class="main-footer-github-link">
      <i class="fa fa-github" aria-hidden="true"></i>
    </a>
  </div>

  <strong>
    Copyright &copy; 2019 - {{ "now"|date("Y") }}
    <a href="https://thomaskanzig.com" target="_blank">Kanzig Inc.</a>.
  </strong>

  {{ 'admin.footer.all_rights_reserved'|trans }}
</footer>