{% extends 'base.html.twig' %}

{% block body %}
    {# TODO: Implemented this page. #}
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <h1 property="title">
                    About me
                </h1>
            </div>
        </div>
    </div>
{% endblock %}
