{% extends 'base.html.twig' %}

{% block title %}
    {{ name_site }}
{% endblock %}

{% block body %}
    {% include 'includes/header.html.twig' %}

    {# TODO: Implemented this page. #}
    <div class="container mt-5">
        <div class="row">
            <a href="#" class="col-7 homepage-highlights-card homepage-highlights-card--big">
                <picture>
                    <source data-srcset="https://dummyimage.com/665x445/b8b8b8/fff 1x, https://dummyimage.com/665x445/b8b8b8/fff 2x"/>
                    <img alt=""
                         class="lazy"
                         data-src="https://dummyimage.com/665x445/b8b8b8/fff"/>
                </picture>

                <div class="homepage-highlights-content">
                    <h2 class="homepage-highlights-title">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ex elit, eleifend non gravida vel, sodales vel lectus.
                    </h2>
                </div>
            </a>
            <div class="col-5">
                <div class="row pl-4 pb-4">
                    <a href="#" class="col homepage-highlights-card homepage-highlights-card--small">
                        <picture>
                            <source data-srcset="https://dummyimage.com/600x400/b8b8b8/fff 1x, https://dummyimage.com/600x400/b8b8b8/fff 2x"/>
                            <img alt=""
                                 class="lazy"
                                 data-src="https://dummyimage.com/600x400/b8b8b8/fff"/>
                        </picture>

                        <div class="homepage-highlights-content">
                            <h2 class="homepage-highlights-title">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ex elit, eleifend non gravida vel, sodales vel lectus.
                            </h2>
                        </div>
                    </a>
                </div>
                <div class="row pl-4">
                    <a href="#" class="col homepage-highlights-card homepage-highlights-card--small">
                        <picture>
                            <source data-srcset="https://dummyimage.com/600x400/b8b8b8/fff 1x, https://dummyimage.com/600x400/b8b8b8/fff 2x"/>
                            <img alt=""
                                 class="lazy"
                                 data-src="https://dummyimage.com/600x400/b8b8b8/fff"/>
                        </picture>

                        <div class="homepage-highlights-content">
                            <h2 class="homepage-highlights-title">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ex elit, eleifend non gravida vel, sodales vel lectus.
                            </h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
