<!-- Footer -->

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">

          {% if setting().urlInstagram is defined and setting().urlInstagram is not empty %}
            <li class="list-inline-item">
              <a href="{{ setting().urlInstagram}}" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          {% endif %}

          {% if setting().urlFacebook is defined and setting().urlFacebook is not empty %}
            <li class="list-inline-item">
              <a href="{{ setting().urlFacebook }}" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          {% endif %}

          {% if setting().urlLinkedin is defined and setting().c is not empty %}
            <li class="list-inline-item">
              <a href="{{ setting().urlLinkedin }}" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          {% endif %}

          {% if setting().urlGithub is defined and setting().urlGithub is not empty %}
            <li class="list-inline-item">
              <a href="{{ setting().urlGithub }}" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          {% endif %}
        </ul>
        <p class="copyright text-muted">Copyright &copy; Thomas Kanzig 2019</p>
      </div>
    </div>
  </div>
</footer>
