{% extends 'admin.html.twig' %}

{% block body %}
    <section class="content-header">
        <h1>
            {{ 'admin.homepage'|trans }}
        </h1>

        <ol class="breadcrumb">
            <li class="active">{{ 'admin.homepage'|trans }}</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">

            </div>
        </div>
    </section>
{% endblock %}
