// Import the libraries.
@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome";
@import "~lightbox2/dist/css/lightbox.css";
@import "~highlight.js/styles/monokai-sublime.css";

// Import base css.
@import 'base/variables';
@import 'base/mixins';
@import 'base/placeholders';
@import 'base/base';
@import 'base/helpers';

// Import plugins css.
@import 'plugins/ckeditor';

@import 'website/components/global';
@import 'website/components/navbar';
@import 'website/components/footer';
@import 'website/components/masthead';
@import 'website/components/blog-index';
@import 'website/components/blog-detail';
@import 'website/components/gallery-detail';
@import 'website/components/see-more-posts';
@import 'website/components/published';
@import 'website/components/homepage';

@import 'website/pages/contact';
