.navbar .dropdown-locale {
  a {
    text-transform: uppercase;
    font-size: 12px;
  }
}

.navbar .dropdown-menu-locale {
  min-width: 70px;

  @include screenMdMax {
    right: unset !important;
  }

  li a {
    @include screenSmMax {
      color: $gray-700 !important;

      &:hover {
        color: $white !important;
      }
    }
  }
}

.navbar-nav-left {
  li {
    float: left;
  }

  li a span {
    padding-left: 4px;
  }
}
